#imagem-penguim{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 100%;
}

body{
    background-image: url("../images/index_bg.png");
    background-size: contain;
}

img{
    width: 100%;
}

h1{
    font-weight: bold;
}

.textmain{
    font-size: 20;
    text-align: justify;
}

.btn{
    width: 300px;
    height: 80px;
    background: linear-gradient(180deg, #B52201 0%, rgba(81, 10, 0, 0.8505) 48.33%, #000000 100%);
    border-radius: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    border: 0;

    /* identical to box height, or 42px */
    letter-spacing: 0.15em;

color: #FFFFFF;
}